.footer__partners-caption {
  padding-top: 20px;
  display: none;
}

@media (max-width: 576px) {
  .footer__partners-caption {
    display: block;
  }
}

@media (max-width: 400px) {
  .footer__partners-caption {
    padding-top: 5px;
  }
}
