.footer__partners {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-basis: 145px;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1200px) {
  .footer__partners {
    grid-area: 1 / 2 / 2 / 4;
  }
}

@media (max-width: 992px) {
  .footer__partners {
    grid-area: 1 / 2 / 2 / 5;
  }
}

@media (max-width: 768px) {
  .footer__partners {
    grid-area: 1 / 2 / 2 / 6;
  }
}

@media (max-width: 576px) {
  .footer__partners {
    grid-area: 4 / 1 / 5 / 2;
    display: block;
    max-width: 365px;
    width: 100%;
    margin: 0 auto 80px 24px;
  }
}
