.schedule-elem__image {
  margin-right: 2.08vw;
  object-fit: cover;
  width: 100%;
  max-height: 11.18vw;
  max-width: 8.33vw;
  grid-area: image;
  height: 160px;
  width: 120px;
}

@media (max-width: 730px) {
  .schedule-elem__image {
    max-height: 123px;
    max-width: 92px;
  }
}
