.navbar__logo {
  width: 43px;
  height: 35px;
  padding-top: 15px;
  padding-left: 30px;
  position: relative;
}

@media (max-width: 1100px) {
  .navbar__logo {
    width: 43px;
    height: 35px;
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 22px;
  }
}

@media (max-width: 728px) {
  .navbar__logo {
    padding-top: 32px;
    padding-left: 24px;
    padding-right: 22px;  }
}
