.schedule__title {
  max-width: 350px;
  margin-left: 20vw;
  margin-right: 27vw;
}

@media (max-width: 730px) {
  .schedule__title {
    width: 350px;
    text-align: start;
  }
}

@media (max-width: 320px) {
  .schedule__title {
    width: 350px;
    text-align: start;
    margin: 0 24px;
  }
}
