@media (max-width: 728px) {
  .navbar__overlay-mobile-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    padding-top: 10%;
    padding-left: 10%;
    position: relative;
  }
}