.schedule-elem__description {
  padding: 0;
  margin: 16px 119px 0 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

@media (max-width: 728px) {
  .schedule-elem__description {
    margin: 5px 0 0 0;
    max-width: 190px;
  }
}

@media (max-width: 400px) {
  .schedule-elem__description {
    font-size: 11px;
    line-height: 15px;
    max-width: 150px;
  }
}
