.schedule__items {
  margin: 75px auto 0 auto;
  display: flex;
  column-gap: 30px;
  align-self: center;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 50px;
}

@media (max-width: 728px) {
  .schedule__items {
    margin: 34px auto 0 auto;
    flex-direction: column;
  }
}
