.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
  min-height: 61px;
  font-family: "NeueMachinaRegular", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: #242424;
}

@media (max-width: 1140px) {
  .navbar {
    min-height: 61px;
    font-size: 15px;
    line-height: 20px;
  }
}
