.nav__mobile {
  display: none;
  margin: 0;
  padding: 0;
  font-family: "NeueMachinaRegular", Arial, sans-serif;
  font-size: 28px;
  line-height: 30px;
  font-weight: 300;
  color: inherit;
}

@media (max-width: 1100px) {
  .nav__mobile {
    display: flex;
    flex-direction: column;
    /*flex-grow: 1;*/
    align-items: flex-start;
 }
}

@media (max-width: 728px) {
  .nav__mobile {
  line-height: 45px;
  }
}