.schedule-elem__link {
  font-weight: 300;
  font-size: 16px;
  line-height: 14px;
  display: flex;
  align-items: center;
  column-gap: 4px;
  border-left: 1px solid #242424;
  border-bottom: 1px solid #242424;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: inherit;
  max-width: 135px;
}

@media (max-width: 728px) {
  .schedule-elem__link {
    width: 145px;
  }
}

@media (max-width: 400px) {
  .schedule-elem__link {
    font-size: 14px;
    line-height: 12px;
    width: 118px;
  }
}
