.title {
  font-family: "Neue Machina", sans-serif;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.01em;
  padding: 0;
  margin: 0;
}

@media (max-width: 1100px) {
  .title {
    font-size: 3.48vw;
    line-height: 3.48vw;
  }
}

@media (max-width: 730px) {
  .title {
    font-size: 6.7vw;
    line-height: 7.7vw;
  }
}
