.title {
  font-family: "Neue Machina", sans-serif;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.01em;
  padding: 0;
  margin: 0;
  margin-left: 24vw;
  margin-right: 27vw;
  max-width: 330px;
}

@media (max-width: 930px) {
  .title {
    margin: 0 auto;
    text-align: start;
  }
}

@media (max-width: 728px) {
  .title {
    font-size: 28px;
    line-height: 32px;
  }
}
