@media (max-width: 1100px) {
  .navbar__burger_open {
    display: block;
    width: 30px;
    height: 3px;
    margin: 3px auto;
    background-color: #ECEBE8;
    transition: all .3s ease-in-out;
  }
}

/*@media (max-width: 728px) {*/
/*  .navbar__burger_open {*/
/*    display: none;*/
/*  }*/
/*}*/