.header {
  display: flex;
  justify-content: space-between;
  background-color: #ecebe8;
  border-bottom: 1px solid #242424;
  margin-bottom: -1px;
  min-height: 61px;
}

@media (max-width: 728px) {
  .header {
  border-bottom: none;
  }
}
