.footer__container {
  display: grid;
  grid-template-columns: 7fr 20fr repeat(3, 7fr);
  grid-template-rows: 1fr 2fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 20px;
  max-width: 1440px;
  margin: 0 auto;
}
