.footer__container {
  display: grid;
  grid-template-columns: 1fr 3fr repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 50px;
  max-width: 1440px;
  margin: 0 auto;
}
