.footer__container {
  display: grid;
  grid-template-columns: 7fr 20fr repeat(3, 7fr);
  grid-template-rows: 1fr 2fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 20px;
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .footer__container {
    grid-template-columns: 7fr 12fr repeat(3, 7fr);
    grid-row-gap: 5px;
    padding-left: 8px;
  }
}

@media (max-width: 576px) {
  .footer__container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-row-gap: 0;
    padding: 0;
  }
}
