.nav__mobile-link_active {
  display: flex;
  position: relative;
}

.nav__mobile-link_active::before {
  content: "";
  border-top-left-radius: 200% 100%;
  border-bottom-left-radius: 200% 100%;
  width: 16px;
  height: 42px;
  border: 1px solid;
  border-right: 0;
  /*margin-left: -10px;*/
  position: absolute;
  top: -5px;
  left: -18px;
  transition: 0.2s ease-in;
  /*opacity: 0;*/
}

.nav__mobile-link_active::after {
  content: "";
  display: block;
  border-top-right-radius: 200% 100%;
  border-bottom-right-radius: 200% 100%;
  width: 16px;
  height: 42px;
  border: 1px solid;
  border-left: 0;
  position: absolute;
  top: -5px;
  right: -18px;
  transition: 0.2s ease-in;
  /*opacity: 0;*/
}

/*.nav__link:hover:before,*/
/*.nav__link:hover:after {*/
/*  opacity: 1;*/
/*}*/