 .burger__menu-list {
  display: none;
  margin: 0;
  padding: 0;
  font-family: "NeueMachinaRegular", Arial, sans-serif;
  font-size: 28px;
  line-height: 30px;
  font-weight: 300;
  color: inherit;
}

@media (max-width: 1100px) {
  .burger__menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 45px;
  }
}

@media (max-width: 728px) {
  .burger__menu-list {
  }
}