.partners__caption {
  padding-top: 20px;
}

@media (min-width: 577px) {
  .partners__caption {
    display: none;
  }
}

@media (max-width: 400px) {
  .partners__caption {
    padding-top: 5px;
  }
}
