.schedule__title {
  max-width: 500px;
  margin-left: 20vw;
  margin-right: 27vw;
}

@media (max-width: 730px) {
  .schedule__title {
    width: 55vw;
    text-align: start;
  }
}

@media (max-width: 440px) {
  .schedule__title {
    margin: 0 24px;
  }
}
