.schedule-elem {
  display: grid;
  position: relative;
  grid-template-areas:
    "image content"
    ".  links";
  max-width: 420px;
}

.schedule-elem {
  display: grid;
  position: relative;
  grid-template-areas:
    "image content"
    ".  links";
}

.schedule-elem:last-child::before {
  content: "";
  width: 0;
  height: 0;
}

.schedule-elem::before {
  content: "";
  height: 2px;
  width: 230px;
  right: -123px;
  top: 114px;
  position: absolute;
  background-color: #242424;
  transform: rotate(-90deg);
}

@media (max-width: 930px) {
  .schedule-elem::before {
    width: 400px;
    right: 17px;
    top: 265px;
    transform: rotate(-0deg);
  }

  .schedule-elem:last-child::before {
    content: "";
    height: 2px;
    width: 400px;
    right: 17px;
    top: 265px;
    position: absolute;
    background-color: #242424;
    transform: rotate(-0deg);
  }

  .schedule-elem {
    margin: 0 auto;
  }
}

@media (max-width: 728px) {
  .schedule-elem {
    grid-template-areas:
      "image content"
      "links  links";
  }

  .schedule-elem:last-child::before {
    width: 400px;
    right: -27px;
    top: 242px;
  }

  .schedule-elem::before {
    width: 400px;
    right: -27px;
    top: 242px;
  }
}

@media (max-width: 400px) {
  .schedule-elem::before {
    width: 320px;
    right: -22px;
    top: 197px;
  }

  .schedule-elem:last-child::before {
    width: 320px;
    right: -22px;
    top: 197px;
  }
}
