.schedule-elem {
  display: grid;
  position: relative;
  grid-template-areas:
    "image content"
    ".  links";
}

.schedule-elem {
  display: grid;
  position: relative;
  grid-template-areas:
    "image content"
    ".  links";
}

.schedule-elem:last-child::after {
  content: "";
  width: 0;
  height: 0;
}

@media (max-width: 730px) {
  .schedule-elem {
    position: relative;
    margin-top: 30px;
    grid-template-areas:
      "image content"
      "links  links";
    padding-bottom: 30px;
    max-width: 730px;
  }

  .schedule-elem::before {
    content: "";
    height: 2px;
    width: 320px;
    right: 60px;
    bottom: 0;
    position: absolute;
    background-color: #242424;
  }

  .schedule-elem::after {
    content: "";
    width: 0;
    height: 0;
  }

  .schedule-elem:last-child::after {
    content: "";
    width: 0;
    height: 0;
  }
}

@media (max-width: 400px) {
  .schedule-elem::before {
    width: 400px;
    right: 24px;
  }
}
