@media (max-width: 728px) {
  .navbar__overlay-mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ECEBE8;
    z-index: 1;
    transition: all .3s ease-in-out;
  }
}