.schedule-elem__name {
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 2.64vw;
  letter-spacing: -0.01em;
  padding: 0;
  margin: 4px 10.83vw 0 0;
}

@media (max-width: 730px) {
  .schedule-elem__name {
    font-weight: 400;
    font-size: 6.76vw;
    line-height: 7.73vw;
    letter-spacing: -0.01em;
    padding: 0;
    margin: 16px 0 0 0;
  }
}
