.burger__social-list {
  display: none;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 28px;
  line-height: 30px;
  font-weight: 300;
  color: inherit;
}

@media (max-width: 1100px) {
  .burger__social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-top: 72px;
    position: relative;
    font-size: 20px;
  }
}