.links {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

@media (max-width: 576px) {
  .links {
    flex-wrap: wrap;
    row-gap: 50px;
    justify-content: flex-start;
    column-gap: 48px;
    padding-bottom: 55px;
  }
}
