.footer__partners-title {
  margin: 0;
  padding-right: 8px;
}

@media (max-width: 768px) {
  .footer__partners-title {
    padding-left: 16px;
  }
}

@media (max-width: 576px) {
  .footer__partners-title {
    display: none;
  }
}