.nav__donate {
  display: flex;
  align-items: center;
  /*justify-content: space-evenly;*/
  flex-grow: 0.05;
  margin: 0;
  padding-top: 3px;
  position: relative;
}

@media (max-width: 920px) {
  .nav__donate {
    padding-right: 14px;
  }
}
