.nav__donate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-top: 3px;
  padding-right: 20px;
  position: relative;
}

.nav__donate::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 50px;
  bottom: 50%;
  transform: rotate(90deg);
  border-top: 1px solid #242424;
}

@media (max-width: 1140px) {
  .nav__donate::before {
    left: -35px;
    width: 50px;
  }
}

@media (max-width: 990px) {
  .nav__donate::before {
    left: -35px;
  }
}

@media (max-width: 920px) {
  .nav__donate {
    padding-right: 14px;
  }
}
