.schedule {
  padding: 100px 31px 25px 31px;
}

@media (max-width: 930px) {
  .schedule {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 728px) {
  .schedule {
    padding: 100px 21px 100px 21px;
  }
}
