.schedule-elem__links {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-top: 16px;
  grid-area: links;
}

@media (max-width: 728px) {
  .schedule-elem__links {
    margin-top: 35px;
    flex-direction: row;
    column-gap: 27px;
  }
}

@media (max-width: 400px) {
  .schedule-elem__links {
    margin-top: 30px;
  }
}
