.navbar__burger_close {
  /*display: block;*/
}

@media (max-width: 1100px) {
  .navbar__burger_close:first-child {
    display: block;
    width: 1.25rem;
    height: 0.125rem;
    margin: 0.25rem auto;
    background-color: #E5E5E5;
    transition: all .3s ease-in-out;
    transform: translateY(0.375rem) rotate(45deg);
    z-index: 4;
  }
}

/*@media (max-width: 1100px) {*/
/*  .navbar__burger_close:first-child {*/
/*   transform: translateY(0.375rem) rotate(45deg);*/
/*  }*/
/*}*/