.persons__subtitle {
  font-family: 'FormularLight', "sans-serif";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  width: 177px;
  height: 44px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 33px;
}