/* ---------------Common-------------- */

@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);

/* ---------------Fonts-------------- */
@import url(../vendor/fonts/FormularLight/formular-light.css);
@import url(../vendor/fonts/NeueMachinaRegular/neue-machina-regular.css);
@import url(../blocks/title/title.css);
@import url(../blocks/persons/__subtitle/persons__subtitle.css);
@import url(../blocks/persons/__foto/persons__foto.css);
@import url(../blocks/persons/__title/persons__title.css);
@import url(../blocks/persons/persons.css);
@import url(../blocks/persons/__list/persons__list.css);
@import url(../blocks/persons/__item/persons__item.css);

/* ---------------Header-------------- */
@import url(../blocks/header/header.css);
@import url(../blocks/navbar/navbar.css);
@import url(../blocks/navbar/__logo/navbar__logo.css);
@import url(../blocks/navbar/__btn-projects/navbar__btn-projects.css);
@import url(../blocks/nav/nav.css);
@import url(../blocks/nav/__main/nav__main.css);
@import url(../blocks/nav/__social/nav__social.css);
@import url(../blocks/nav/__social-link/nav__social-link.css);
@import url(../blocks/nav/__item/nav__item.css);
@import url(../blocks/nav/__item/_mobile/nav__item_mobile.css);
@import url(../blocks/nav/__link/nav__link.css);
@import url(../blocks/nav/__item-social/nav__item-social.css);
@import url(../blocks/nav/__donate/nav__donate.css);
@import url(../blocks/nav/__donate/__donate-link/nav__donate-link.css);
@import url(../blocks/nav/__donate-text/nav__donate-text.css);
@import url(../blocks/nav/__donate-plus/nav__donate-plus.css);
@import url(../blocks/nav/__donate-link/nav__donate-link.css);
@import url(../blocks/nav/__tooltip/nav__tooltip.css);
@import url(../blocks/separator/separator.css);
@import url(../blocks/navbar/__burger/navbar__burger.css);
@import url(../blocks/navbar/__burger-content/navbar__burger-content.css);
@import url(../blocks/navbar/__burger/_open/navbar__burger_open.css);
@import url(../blocks/navbar/__burger/_close/navbar__burger_close.css);
/*mobile menu*/
@import url(../blocks/navbar/__overlay-mobile/navbar__overlay-mobile.css);
@import url(../blocks/navbar/__overlay-mobile-logo/navbar__overlay-mobile-logo.css);
@import url(../blocks/navbar/__overlay-mobile-menu/navbar__overlay-mobile-menu.css);
@import url(../blocks/navbar/__overlay-mobile/_opened/navbar__overlay-mobile_opened.css);
@import url(../blocks/navbar/__overlay-mobile/_closed/navbar__overlay-mobile_closed.css);
@import url(../blocks/nav/__mobile/nav__mobile.css);
@import url(../blocks/nav/__mobile-link/nav__mobile-link.css);
@import url(../blocks/nav/__mobile-link/_active/nav__mobile-link_active.css);

/* ---------------Hero-------------- */
@import url(../blocks/hero/hero.css);
@import url(../blocks/hero/__link/hero__link-wrap.css);
@import url(../blocks/hero/__back-btn/hero__back-btn.css);
@import url(../blocks/hero/__wrap/hero__wrap.css);
@import url(../blocks/hero/__title/hero__title.css);
@import url(../blocks/hero/__main/hero__main.css);
@import url(../blocks/hero/__subtitle/hero__subtitle.css);
@import url(../blocks/hero/__desc/hero__desc.css);
@import url(../blocks/hero/__pic/hero__pic.css);

/* ---------------Footer-------------- */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__container/footer__container.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__logo-img/footer__logo-img.css);
@import url(../blocks/footer/__address/footer__address.css);
@import url(../blocks/footer/__lists/footer__lists.css);
@import url(../blocks/footer/__partners/footer__partners.css);
@import url(../blocks/footer/__copyrights/footer__copyrights.css);

@import url(../blocks/address/address.css);
@import url(../blocks/address/__title/address__title.css);
@import url(../blocks/address/__text/address__text.css);

@import url(../blocks/partners/partners.css);
@import url(../blocks/partners/__title/partners__title.css);
@import url(../blocks/partners/__logotypes/partners__logotypes.css);
@import url(../blocks/partners/__logotype/partners__logotype.css);
@import url(../blocks/partners/__caption/partners__caption.css);
@import url(../blocks/partners/__img/partners__img.css);

@import url(../blocks/links/links.css);
@import url(../blocks/links/__list/links__list.css);
@import url(../blocks/links/__link/links__link.css);
@import url(../blocks/links/__title/links__title.css);

@import url(../blocks/copyrights/copyrights.css);
@import url(../blocks/copyrights/__block/copyrights__block.css);
@import url(../blocks/copyrights/__paragraph/copyrights__paragraph.css);
@import url(../blocks/copyrights/__paragraph/_logo/copyrights__paragraph_logo.css);
@import url(../blocks/copyrights/__shishki-text/copyrights__shishki-text.css);
@import url(../blocks/copyrights/__link/copyrights__link.css);
