@import url(../vendor/normalize.css);

@import url(../vendor/fonts/FormularLight/formular-light.css);
@import url(../vendor/fonts/NeueMachinaRegular/neue-machina-regular.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__container/footer__container.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__address/footer__address.css);
@import url(../blocks/footer/__lists/footer__lists.css);
@import url(../blocks/footer/__partners/footer__partners.css);
@import url(../blocks/footer/__copyrights/footer__copyrights.css);


@import url(../blocks/address/address.css);
@import url(../blocks/address/__title/address__title.css);
@import url(../blocks/address/__text/address__text.css);

@import url(../blocks/partners/partners.css);
@import url(../blocks/partners/__title/partners__title.css);
@import url(../blocks/partners/__logotypes/partners__logotypes.css);

@import url(../blocks/links/links.css);
@import url(../blocks/links/__list/links__list.css);