/* ---------------Common-------------- */

@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);

/* ---------------Fonts-------------- */
@import url(../vendor/fonts/FormularLight/formular-light.css);
@import url(../vendor/fonts/NeueMachinaRegular/neue-machina-regular.css);

/* ---------------hero-------------- */

@import url(../blocks/hero/hero.css);
@import url(../blocks/hero/__link/hero__link-wrap.css);
@import url(../blocks/hero/__back-btn/hero__back-btn.css);
@import url(../blocks/hero/__wrap/hero__wrap.css);
@import url(../blocks/hero/__title/hero__title.css);
@import url(../blocks/hero/__main/hero__main.css);
@import url(../blocks/hero/__subtitle/hero__subtitle.css);
@import url(../blocks/hero/__desc/hero__desc.css);
@import url(../blocks/hero/__pic/hero__pic.css);

/* ---------------Footer-------------- */
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__container/footer__container.css);
@import url(../blocks/footer/__logo/footer__logo.css);
@import url(../blocks/footer/__address/footer__address.css);
@import url(../blocks/footer/__lists/footer__lists.css);
@import url(../blocks/footer/__partners/footer__partners.css);
@import url(../blocks/footer/__copyrights/footer__copyrights.css);

@import url(../blocks/address/address.css);
@import url(../blocks/address/__title/address__title.css);
@import url(../blocks/address/__text/address__text.css);

@import url(../blocks/partners/partners.css);
@import url(../blocks/partners/__title/partners__title.css);
@import url(../blocks/partners/__logotypes/partners__logotypes.css);
@import url(../blocks/partners/__logotype/partners__logotype.css);
@import url(../blocks/partners/__caption/partners__caption.css);
@import url(../blocks/partners/__img/partners__img.css);

@import url(../blocks/links/links.css);
@import url(../blocks/links/__list/links__list.css);
@import url(../blocks/links/__link/links__link.css);

@import url(../blocks/copyrights/copyrights.css);
@import url(../blocks/copyrights/__block/copyrights__block.css);
@import url(../blocks/copyrights/__paragraph/copyrights__paragraph.css);
@import url(../blocks/copyrights/__paragraph/_logo/copyrights__paragraph_logo.css);
@import url(../blocks/copyrights/__shishki-text/copyrights__shishki-text.css);
@import url(../blocks/copyrights/__link/copyrights__link.css);

/* ---------------schedule-------------- */
@import url(../blocks/schedule-elem/__author/schedule-elem__author.css);
@import url(../blocks/schedule-elem/__authors/schedule-elem__authors.css);
@import url(../blocks/schedule-elem/__content/schedule-elem__content.css);
@import url(../blocks/schedule-elem/__data/schedule-elem__data.css);
@import url(../blocks/schedule-elem/__date/schedule-elem__date.css);
@import url(../blocks/schedule-elem/__description/schedule-elem__description.css);
@import url(../blocks/schedule-elem/__image/schedule-elem__image.css);
@import url(../blocks/schedule-elem/__link-image/schedule-elem__link-image.css);
@import url(../blocks/schedule-elem/__link/schedule-elem__link.css);
@import url(../blocks/schedule-elem/__links/schedule-elem__links.css);
@import url(../blocks/schedule-elem/__name/schedule-elem__name.css);
@import url(../blocks/schedule-elem/schedule-elem.css);

@import url(../blocks/schedule/__items/_theme/_size/schedule__items_theme_size.css);
@import url(../blocks/schedule/__items/schedule__items.css);
@import url(../blocks/schedule/schedule.css);
@import url(../blocks/schedule/_theme/_position/schedule_theme_position.css);

@import url(../blocks/title/title.css);
@import url(../blocks/schedule/__title/schedule__title.css);

@import url(../blocks/schedule/_theme/_mobile/schedule_theme_mobile.css);
@import url(../blocks/schedule/_theme/_size/schedule_theme_size.css);
@import url(../blocks/title/_theme/title_theme_size.css);
@import url(../blocks/schedule/__items/_theme/_position/schedule__items_theme_position.css);

/* ---------------schedule-------------- */
@import url(../blocks/photo-gallery/__item/photo-gallery__item.css);
@import url(../blocks/photo-gallery/__items/photo-gallery__items.css);
@import url(../blocks/photo-gallery/photo-gallery.css);
