.schedule-elem__authors {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  margin: 16px 1px 0 31px;
}

@media (max-width: 728px) {
  .schedule-elem__authors {
    margin: 8px 0 0 0;
    row-gap: 0;
  }
}
