.nav__vertical-line {
  /* position: absolute;
  left: 0;
  bottom: 0; */
  /* bottom: 0; */
  /* right: 0;
  bottom: 0;
  display: block; */
  /* align-self:flex-end;
  height: 0;
  width: 50px;
  border-top: 1px solid #242424;
  transform: rotate(90deg); */
}
