.footer__copyrights {
  grid-area: 3 / 2 / 4 / 6;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 50px;
}

@media (max-width: 992px) {
  .footer__copyrights {
    grid-area: 3 / 1 / 4 / 6;
    padding-left: 8px;
  }
}

@media (max-width: 576px) {
  .footer__copyrights {
    grid-area: 5 / 1 / 6 / 2;
    padding: 0 25px;
    flex-wrap: wrap;
    padding: 32px 27px 74px;
    flex-direction: column;
    row-gap: 60px;
    border-top: 1px solid #242424;
  }
}
