.schedule-elem__description {
  padding: 0;
  margin: 16px 8.5vw 0 0;
  font-weight: 300;
  font-size: 0.97vw;
  line-height: 1.18vw;
}

@media (max-width: 730px) {
  .schedule-elem__description {
    margin: 8px 93px 0 0;
    width: 95px;
    font-size: 14px;
    line-height: 17px;
  }
}
