@media (max-width: 1100px) {
  .burger__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ECEBE8;
    opacity: 0;
    transition: visibility .4s, opacity .4s ease-in-out;
    visibility: hidden;
    z-index: -1;
  }
}

/*@media (max-width: 728px) {*/
/*  .navbar__overlay-mobile {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    background-color: #ECEBE8;*/
/*    z-index: 1;*/
/*    transition: all .3s ease-in-out;*/
/*  }*/
/*}*/