.footer__lists {
  grid-area: 2 / 3 / 3 / 6;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}

@media (max-width: 768px) {
  .footer__lists {
    grid-area: 2 / 2 / 3 / 6;
  }
}

@media (max-width: 576px) {
  .footer__lists {
    grid-area: 3 / 1 / 4 / 2;
    padding: 0 55px;
    font-size: 18px;
    line-height: 23px;
    flex-wrap: wrap;
    row-gap: 50px;
    justify-content: flex-start;
    column-gap: 48px;
    padding-bottom: 55px;
  }
}
