.section__title {
  font-family: "NeueMachinaRegular", "sans-serif";
  width: 358px;
  height: 80px;
  margin-left: 362px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 58px;
}


@media all and (max-width:1048px) {
  .section__title {
    margin-left: 20%;
  }
}

@media all and (max-width:590px) {
  .section__title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 24px;
    margin-left: 24px;
  }
}


