/* burger opened */
@media (max-width: 1100px) {
  .burger__line::before,
  .burger__line::after,
  .burger__line {
    position: absolute;
    width: 30px;
    height: 2px;
    margin: 0;
    background-color: #ECEBE8;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: .4s ease-in-out;
  }
}

  .burger__line {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }

  .burger__line::before {
    content: '';
    top: -10px;
    transform: translate(-50%, -50%);
  }

  .burger__line::after {
    content: '';
    top: 12px;
    transform: translate(-50%, -50%);
  }